body {
font-family: 'Raleway', sans-serif;
	font-weight: 300;
}


.col-xs-12 h1{
    color:#B32E3D;
    font-family: 'Raleway', sans-serif;
    /* color: #1E2251; */
}

.col-xs-12 p{
    color:#000000;
    font-family: 'Raleway', sans-serif;
    /* color: #1E2251; */
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  align-items: center;
  font-variant: all-small-caps;
  font-family: 'Raleway', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 0 5px 10px;
}

nav li {
  list-style: none;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
	margin-left:5%;
}

.blue {
	color: #a1b1da;
}
/*Map Styles*/
.sphere {
  fill: #a1b1da;
}

.land {
  fill:#ffffff;
  stroke: #e2e4eb;
}

.boundary {
  fill: none;
  stroke: #f2f2f2;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

.overlay {
  fill: none;
  pointer-events: all;
}
/* END-Map Styles*/

/*Section Styles*/
.container {
	width: 100% !important;
	padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#mvp-picker {
  background: #a0accc;
  overflow: hidden;
}



.company-visualizations {
	overflow: hidden;
}

/* .player-visualizations2 {
	overflow: hidden;
} */


#title {
	background: white;
	color: black;
}

div.tooltip {
      position: absolute;
      text-align: left;
      width: 370px;
      height: 190px;
      padding: 5px;
      font: 12px sans-serif;
      font-family: 'Raleway', sans-serif;
      background: #596375;
	  color: white;
      border: 0px;
      border-radius: 8px;
      pointer-events: none;
    }

div.tooltip img {
	padding: 10px;
}
div.tooltip h4 {
	margin: 0;
	padding-top: 5px;
}


#instructions {
	position: absolute;
	text-align: center;
	margin: auto;
	margin-top: 175px; /*change this to adjust vertical position of instructions*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 400px;
	height: 300px;
	background-color: #596375;
	border-radius: 8px;
	color: white;
	opacity: 0.75;
	padding: 10px;
    }

#instructions button {
	fill: green;
	color: black;
}

div.scatterplot-tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 110px;
  padding: 5px;
  font: 12px sans-serif;
  font-family: 'Raleway', sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.scatterplot-dropdowns {
	text-align: center;
	padding: 10px;
}

.conclusions {
	padding: 50px;
	margin-left: 8%;
	margin-right: 8%;
	margin-top:4%;
	background: #e1e1e1;
}



/* bubble  */
g{
    position: relative
}
svg.legends{
    position: absolute
}

text.n_percent{
    position: absolute;
    top: 0px;
    font-family: 'Raleway', sans-serif;
}



div.tooltips {
    position: absolute;
    text-align: center;
    width: 112px;
    height: auto;
    padding: 2px;
    background: white;
    border-radius: 4px;
    border: 0px;

    pointer-events: none;
    border: 1px solid #eae1e1;
    background: #f7f7f7;
}

/* bubble  */
